<div class="container mt-3">
    <h3>👥 Admin Yönetim Paneli</h3>
    <hr>
    <div class="list-group">
        <button routerLink="/dashboard/admin/summary" type="button"
            class="list-group-item list-group-item-action list-group-item-light">Özet</button>
        <button routerLink="/dashboard/admin/logs" type="button"
            class="list-group-item list-group-item-action">Loglar</button>
        <button routerLink="/dashboard/admin/users" type="button"
            class="list-group-item list-group-item-action list-group-item-light">Kullanıcılar</button>
    </div>
</div>
<router-outlet></router-outlet>