<div class="container mt-4">
    <div class="col-12 col-md-8 mb-3">
        <div class="card shadow-sm">
            <div class="card-header fw-bold bg-light">
                <a routerLink="/dashboard/admin" style="text-decoration: none;">
                    <i class="bi bi-shield-lock me-2"></i>Admin Yönetim Paneli
                </a>
            </div>

            <div class="list-group list-group-flush">
                <a routerLink="/dashboard/admin/summary" routerLinkActive="active"
                    class="list-group-item list-group-item-action">
                    <i class="bi bi-speedometer2 me-2"></i>Özet</a>

                <a routerLink="/dashboard/admin/logs" routerLinkActive="active"
                    class="list-group-item list-group-item-action">
                    <i class="bi bi-journal-text me-2"></i>
                    Loglar
                </a>

                <a routerLink="/dashboard/admin/users" routerLinkActive="active"
                    class="list-group-item list-group-item-action">
                    <i class="bi bi-people-fill me-2"></i>
                    Kullanıcılar
                </a>
            </div>
        </div>
    </div>
    <div class="col-12">
        <router-outlet></router-outlet>
    </div>
</div>