<div><a routerLink="/dashboard/tasinmaz/list" class="btn btn-link text-decoration-none p-1 mb-2">← GERİ</a></div>
<div class="card shadow-sm mb-3">
    <div class="card-body d-flex justify-content-between align-items-center">
        <div>
            <h5 class="mb-1 fs-6">Alan Hesaplama</h5>
            <span class="badge bg-danger p-2">Aktif Mod: {{ mode }}</span>
        </div>
        <div class="btn-group">
            <button class="btn btn-outline-primary" [class.active]="mode==='manual'" (click)="loadManualSelect()">
                Manuel
            </button>
            <button class="btn btn-outline-secondary" [class.active]="mode==='auto'" (click)="loadAutoSelect()">
                Otomatik
            </button>
        </div>
    </div>
</div>

<div class="row g-3">
    <div class="col-md-4">
        <div class="card h-100 shadow-sm">
            <div class="card-header fw-bold">Alan İşlemleri</div>
            <div class="card-body">
                <p class="text-muted small fs-6" *ngIf="mode==='manual'">A, B, C alanlarını haritadan çiziniz</p>
                <div class="d-grid gap-3">
                    <button class="btn btn-outline-warning mt-3"
                        [disabled]="!manualAreas.A.geometry || !manualAreas.B.geometry"
                        (click)="calculateIntersection('A','B')">
                        A ∩ B
                    </button>

                    <button class="btn btn-outline-primary"
                        [disabled]="!manualAreas.A.geometry || !manualAreas.B.geometry" (click)="calculateUnionAB()">
                        A ∪ B
                    </button>

                    <button class="btn btn-outline-success"
                        [disabled]="!manualAreas.A.geometry || !manualAreas.B.geometry || !manualAreas.C.geometry"
                        (click)="calculateUnionABC()">
                        A ∪ B ∪ C
                    </button>
                </div>

                <div class=" p-3">
                    <hr>
                </div>

                <div class="d-grid gap-3">
                    <button class="btn btn-primary" (click)="getTotalArea()">Toplam Alan</button>
                    <button class="btn btn-outline-secondary" (click)="resetAreas()">Temizle</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="card h-100 shadow-sm">
            <div class="card-header fw-bold">
                Harita
            </div>
            <div class="card-body p-0">
                <app-tasinmaz-map [mode]="mode" [disableDraw]="maxDrawReached" [resetCounter]="resetCounter"
                    (geometryDrawn)="onGeometryDrawn($event)" [resultGeometry]="geometryResult">
                </app-tasinmaz-map>
            </div>
        </div>
    </div>
</div>

<div class="card shadow-sm mt-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <span class="fw-bold">Analiz Sonuçları</span>
        <button class="btn btn-sm btn-outline-dark" (click)="loadSavedResults()">
            Kayıtlı Sonuçları Getir
        </button>
    </div>

    <div class="card-body">

        <div *ngIf="currentOperation" class="alert alert-info">
            <b>İşlem:</b> {{ currentOperation }} <br>
            <b>Alan:</b> {{ formatArea(alan) }}
        </div>

        <table class="table table-hover" *ngIf="savedResults.length">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>İşlem</th>
                    <th>Alan</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let result of savedResults">
                    <td>{{ result.id }}</td>
                    <td>{{ result.operation }}</td>
                    <td>{{ formatArea(result.area) }}</td>
                    <td>
                        <button class="btn btn-sm btn-primary" (click)="showResultOnMap(result)">
                            Haritada Göster
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <p *ngIf="!savedResults.length" class="text-muted text-center">
            Henüz kaydedilmiş bir analiz yok.
        </p>
    </div>
</div>