<div class="container mt-4 ">
    <hr>
    <div class="row mb-4">
  <h3 class="mb-3">Taşınmaz İşlem Özeti</h3>
  <div class="col-md-4">
    <div class="card text-bg-primary">
      <div class="card-body">
        <h5>Toplam Kullanıcı</h5>
        <h2>{{ totalUsers }}</h2>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card text-bg-success">
      <div class="card-body">
        <h5>Toplam Taşınmaz</h5>
        <h2>{{ totalTasinmaz }}</h2>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card text-bg-warning">
      <div class="card-body">
        <h5>Bugünkü İşlemler</h5>
        <h2>{{ todayLogCount }}</h2>
      </div>
    </div>
  </div>
</div>
</div>
