/* OpenLayers harita konteyneri */

.map-container {
  width: 100%;
  height: 500px; /* veya 100vh */
  position: relative;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
