<div class="container mt-4">
    <div *ngIf="successMessage" class="alert alert-success alert-dismissible fade show" role="alert">
        {{ successMessage }}
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ errorMessage }}
    </div>

    <h2 *ngIf="!isAdmin" class="text-center">Taşınmaz Listesi</h2>
    <button *ngIf="!isAdmin" class="btn btn-primary mb-3" routerLink="/dashboard/tasinmaz/add">Yeni Taşınmaz Ekle</button>
    <div *ngIf="isLoading">Yükleniyor...</div>

    <table class="table table-bordered" *ngIf="!isLoading && tasinmazlar.length >0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ada</th>
                <th>Parsel</th>
                <th class="text-center">Koordinat</th>
                <th>Adres</th>
                <th class="text-center">İşlemler</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let tasinmaz of tasinmazlar">
                <td>{{tasinmaz.id}}</td>
                <td>{{tasinmaz.lotNumber}}</td>
                <td>{{tasinmaz.parcelNumber}}</td>
                <td class="text-center" [innerHTML]="formatCoordinates(tasinmaz.geometry)"></td>
                <td>{{tasinmaz.address}}</td>
                <td class="d-flex justify-content-center gap-3 ">
                    <button *ngIf="!isAdmin" class="btn btn-info btn-md" (click)="showPopup(tasinmaz)">Görüntüle</button>
                    <button *ngIf="!isAdmin" class="btn btn-warning btn-md " (click)="editTasinmaz(tasinmaz.id)">Düzenle</button>
                    <button *ngIf="!isAdmin" class="btn btn-danger btn-md px-" (click)="deleteTasinmaz(tasinmaz.id)">Sil</button>
                </td>
                
            </tr>
        </tbody>
    </table>
    <br><hr><br>
    <div class="mb-4" style="height: 400px; border: 1px solid #ccc;">
        <app-tasinmaz-map [allTasinmazlar]="tasinmazlar"></app-tasinmaz-map>
    </div>

    <div *ngIf="!isLoading && tasinmazlar.length==0 && !isAdmin" class="alert alert-info">Hiç taşınmaz bulunamadı !</div>

        <div *ngIf="selectedTasinmaz" class="alert alert-success">
    <div class="popup-header ">
        <strong>Taşınmaz Bilgileri</strong>
        <button class="btn-close" (click)="closePopup()"></button>
    </div>

    <div class="popup-body">
        <p><b>Ada:</b> {{ selectedTasinmaz.lotNumber }}</p>
        <p><b>Parsel:</b> {{ selectedTasinmaz.parcelNumber }}</p>
        <p><b>Adres:</b> {{ selectedTasinmaz.address }}</p>
        <p><b>Koordinat:</b></p>
        <small>{{ formatCoordinates(selectedTasinmaz.geometry )}}</small>
    </div>
    </div>

</div>


                    