<div class="container mt-4">
    <div *ngIf="successMessage" class="alert alert-success alert-dismissible fade show" role="alert">
        {{ successMessage }}
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ errorMessage }}
    </div>

    <h2 class="text-center">Taşınmaz Listesi</h2>
    <button class="btn btn-primary mb-3" routerLink="/dashboard/tasinmaz/add">Yeni Taşınmaz Ekle</button>
    <div *ngIf="isLoading">Yükleniyor...</div>

    <table class="table table-bordered" *ngIf="!isLoading && tasinmazlar.length >0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ada</th>
                <th>Parsel</th>
                <th>Koordinat</th>
                <th>Adres</th>
                <th class="text-center">İşlemler</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let tasinmaz of tasinmazlar">
                <td>{{tasinmaz.id}}</td>
                <td>{{tasinmaz.lotNumber}}</td>
                <td>{{tasinmaz.parcelNumber}}</td>
                <td>{{tasinmaz.coordinate}}</td>
                <td>{{tasinmaz.address}}</td>
                <td class="d-flex justify-content-center gap-3 ">
                    <button class="btn btn-warning btn-md " (click)="editTasinmaz(tasinmaz.id)">Düzenle</button>
                    <button class="btn btn-danger btn-md px-" (click)="deleteTasinmaz(tasinmaz.id)">Sil</button>
                </td>
                
            </tr>
        </tbody>
    </table>

    <div *ngIf="!isLoading && tasinmazlar.length==0">Hiç taşınmaz bulunamadı !</div>
</div>


                    