<div class="container mt-4">
    <h2>Taşınmaz Listesi</h2>
    <button class="btn btn-primary mb-3" routerLink="/dashboard/tasinmaz/add">Yeni Taşınmaz Ekle</button>
    <div *ngIf="isLoading">Yükleniyor...</div>

    <table class="table table-bordered" *ngIf="!isLoading && tasinmazlar.length >0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ada</th>
                <th>Parsel</th>
                <th>Nitelik</th>
                <th>Adres</th>
                <th>İşlemler</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let tasinmaz of tasinmazlar">
                <td>{{tasinmaz.id}}</td>
                <td>{{tasinmaz.ada}}</td>
                <td>{{tasinmaz.parsel}}</td>
                <td>{{tasinmaz.nitelik}}</td>
                <td>{{tasinmaz.adres}}</td>
                <td>
                    <button class="btn btn-warning btn-sm" (click)="editTasinmaz(tasinmaz.id)">Düzenle</button>
                    <button class="btn btn-danger btn-sm" (click)="deleteTasinmaz(tasinmaz.id)">Sil</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="!isLoading && tasinmazlar.length==0">Hiç taşınmaz bulunamadı !</div>
</div>