<div class="container mt-4">
    
    <div *ngIf="successMessage" class="alert alert-success alert-dismissible fade show" role="alert">
        {{ successMessage }}
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ errorMessage }}
    </div>
    <div><a routerLink="/dashboard/tasinmaz/list" class="btn btn-secondary btn-sm">← GERİ</a></div>
    <h2 class="text-center">Yeni Taşınmaz Ekle</h2>
    <form (ngSubmit)="saveForm()" [formGroup]="tasinmazForm">
        <!-- İl -->
         <div class="mb-3">
            <label for="ilId">İl</label>
            <select autocomplete="off" name="ilId" id="ilId" formControlName="ilId" class="form-control" (change)="onIlChange()">
                <option value="">Seçiniz</option>
                <option *ngFor="let il of iller"  [value]="il.id" >{{il.ad}}</option>
            </select>
         </div>
 
         <!-- İlçe -->
         <div class="mb-3">
            <label for="ilceId">İlçe</label>
            <select autocomplete="off" name="ilceId" id="ilceId" formControlName="ilceId" class="form-control" (change)="onIlceChange()">
                <option value="">Seçiniz</option>
                <option *ngFor="let ilce of ilceler" [value]="ilce.id">
                    {{ilce.ad}}
                </option>
            </select>
         </div>

         <!-- Mahalle -->
          <div class="mb-3">
            <label for="mahalleId">Mahalle</label>
            <select autocomplete="off" name="mahalleId" id="mahalleId" formControlName="mahalleId" class="form-control">
                <option value="">Seçiniz</option>
                <option *ngFor="let mahalle of mahalleler" [value]="mahalle.id">
                    {{mahalle.ad}}
                </option>
            </select>
         </div>

         <div class="mb-3">
            <label for="lotNumber">Ada</label>
            <input autocomplete="off" name="lotNumber" id="lotNumber"  type="text" class="form-control" formControlName="lotNumber">
         </div>

         <div class="mb-3">
            <label for="parcelNumber">Parsel</label>
            <input autocomplete="off" name="parcelNumber" id="parcelNumber" type="text" class="form-control" formControlName="parcelNumber">
         </div>

         <div class="mb-3">
            <label for="coordinate">Koordinat</label>
            <input autocomplete="off" name="coordinate" id="coordinate" type="text" class="form-control" formControlName="coordinate">
         </div>

         <div class="mb-3">
            <label for="address">Adres</label>
            <textarea autocomplete="street-address" name="address" id="address" class="form-control" formControlName="address"></textarea>
         </div>

         <button class="btn btn-primary btn-md " type="submit">Kaydet</button>

    </form>
</div>